.header {
    border-bottom: 2px solid var(--gris3);
    padding: 1rem 0;
}

.headerContainer {
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
    @media (max-width: 768px) {
        display: flex;
        justify-content: space-between;
    }
}